@import '../mixins';

.header {
  background-color: #F6F6F7;
  width: 100%;
  padding: 20px 0;
  min-height: 96px;

  @include for-desktop-up() {
    background-color: transparent;
    padding: 32px 0;
  }
}

.brandLabel {
  display: none;

  @include for-desktop-up() {
    display: block;
    font-family: var(--font-secondary);
    font-size: 20px;
    line-height: 160%;
    font-weight: 700;
    margin-left: 8px;
    color: var(--color-brand-secondary);
    transform: translateX(-50px);
    opacity: 0;
    will-change: transform;
    transition: var(--transition-default);
  }

  .brandLabelHighlight {
    color: var(--color-brand-primary);
  }
}

.brand {
  grid-column: 1 / span 1;
  position: relative;
  z-index: 10;

  a {
    display: flex;

    width: 56px;
    height: 56px;

    svg {
      width: 56px;
      height: 56px;
    }

    &:hover {
      .brandLabel {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  @include for-desktop-up() {
    grid-column: 1 / span 3;
    width: 100%;

    a {
      align-items: center;
    }

    a, a svg {
      width: 100%;
    }
  }
}

.right {
  @include for-desktop-up() {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 4 / span 12;
  }
}

.navTrigger {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2958FF;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 4 / 4;
  justify-self: end;

  @include for-tablet-up() {
    grid-column: 8 / 8;
  }

  @include for-desktop-up() {
    display: none;
  }

}
