@import "../mixins";

.navMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 24px 40px;
  background-color: var(--color-brand-primary);
  display: none;
  flex-direction: column;
  justify-content: space-between;

  .navMenuItems {
    list-style: none;
    margin-top: 168px;

    li {
      a {
        color: var(--color-neutral-white);
        font-size: 24px;
        line-height: 160%;
        display: block;
        font-family: var(--font-secondary);
        text-transform: lowercase;
        font-weight: 900;
        padding: 24px 0;
        display: flex;
        transition: var(--transition-default);

        &:hover {
          color: var(--color-brand-tertiary);
        }
      }
    }
  }

  @include for-desktop-up() {
    display: flex;
    align-items: center;
    position: inherit;
    padding: 0;
    flex-direction: row;
    background-color: initial;
    width: initial;
    height: initial;
    grid-column: auto / 12;

    .navMenuItems {
      display: flex;
      margin: 0;
      position: relative;

      li {
        a {
          font-size: 18px;
          line-height: 26px;
          font-weight: 500;
          padding: 16px;
          color: var(--color-brand-dark);
          margin-right: 16px;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: rgba(36, 37, 44, 0.16);
            transition: var(--transition-default);
          }

          &:hover {
            color: var(--color-brand-secondary);

            &::before {
              background-color: var(--color-brand-secondary);
            }
          }
        }

        &:last-child {
          a {
            margin-right: 0;
          }
        }
      }
    }
  }
}
