@import '../mixins';

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(#fff, 0.08);

  &:not(:last-child) {
    margin-bottom: 64px;
  }

  .container {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content {
    flex-basis: 100%;
  }

  .link {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    padding-bottom: 64px;
  }

  .title {
    h3 {
      font-family: var(--font-secondary);
      font-size: 32px;
      line-height: 160%;
      color: var(--color-neutral-white);
      font-weight: 900;
      transition: var(--transition-default);
    }
  }

  .infos, .tags ul {
    display: flex;
    gap: 16px;
  }

  .infos {
    margin-top: 4px;
    span {
      color: var(--color-neutral-white);
    }

    .company {
      color: var(--color-brand-tertiary);
    }
  }

  .tags {
    margin-top: 40px;

    ul {
      list-style: none;
      flex-direction: column;


      li {
        color: rgba(#fff, 0.64);
      }
    }

    @include for-tablet-up() {
      ul {
        flex-direction: row;
      }
    }

    @include for-tablet-only() {
      ul li {
        max-width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .iconLink {
    display: none;

    @include for-tablet-up() {
      display: block;
      opacity: 0.16;
      transition: var(--transition-default);

      svg path {
        transition: var(--transition-default);
      }
    }
  }

  &:hover {
    $hover_color: var(--color-brand-secondary);

    .title h3 {
      color: $hover_color;
    }

    .iconLink {
      opacity: 1;

      svg {
        path {

          &.iconLinkArrow {
            transform: translate(4px, -4px);
          }
        }
      }
    }
  }

}
