.buttonLink {
  color: var(--color-brand-tertiary);
  line-height: 160%;
  font-weight: 500;
  display: inline-flex;
  position: relative;
  transition: var(--transition-default);

  &::before, &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: var(--transition-default);
  }

  &::before {
    background-color: var(--color-brand-tertiary);
    width: 100%;
  }

  &::after {
    width: 0;
    background-color: var(--color-brand-secondary);
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  &Small {
    font-size: 16px;
  }

  &Medium {
    font-size: 20px;
  }

  &Blue {
    color: var(--color-brand-primary);

    &::before {
      background-color: var(--color-brand-primary);
    }

    &:hover {
      color: var(--color-brand-secondary);
    }
  }

}
