.buttonLink {
  color: var(--color-brand-tertiary);
  line-height: 160%;
  font-weight: 500;
  display: inline-flex;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-brand-tertiary);
  }

  &Small {
    font-size: 16px;
  }

  &Medium {
    font-size: 20px;
  }

  &Blue {
    color: var(--color-brand-primary);

    &::before {
      background-color: var(--color-brand-primary);
    }
  }
}
