@import "../mixins";

.section {
  padding: 64px 0 0;

  @include for-desktop-up() {
    padding: 116px 0 0;
  }
}

.grid {
  grid-template-rows: max-content 1fr;
}

.left, .right {
  grid-column: 1 / span 4;

  @include for-tablet-up() {
    grid-column: 1 / span 8;
  }
}

.left {
  grid-row: 2;

  @include for-desktop-up() {
    grid-row: 1;
    grid-area: 1/ 1 / auto / span 8;
  }
}

.right {
  grid-row: 1;

  @include for-desktop-up() {
    grid-row: 2;
    grid-area: 1/ 9 / auto / span 11;
  }
}

.heading {
  grid-row: 2;

  .title {
    margin-bottom: 24px;

    .title_highlight {
      color: var(--color-brand-primary);
    }
  }

  .subtitle {
    display: flex;
    flex-direction: column;
    opacity: 0.72;
  }
}

.contact {
  margin: 64px 0;
}

.badge {
  margin-bottom: 64px;

  svg {
    width: 142px;
    height: 142px;
    will-change: transform;
    animation: spin 16s linear infinite;
  }

  @include for-desktop-up() {
    width: 100%;
    display: flex;
    margin-bottom: 0;

    svg {
      margin: 0 auto;
      width: 260px;
      height: 260px;
    }
  }
}

.credits {
  margin-top: 96px;
  padding: 20px 0 40px;

  @include for-phone-only() {
    .left {
      grid-area: 1/1/auto/span 2;
    }

    .right {
      grid-area: 1/2/auto/span 4;
    }
  }

  @include for-desktop-up() {
    margin-top: 116px;
    padding: 12px 0 44px;
  }

  .brand {
    svg {
      width: 40px;
      height: 40px;

      path, rect {
        fill: var(--color-neutral-white);
      }
    }
  }
}

.madeWith {
  justify-self: end;
  display: flex;
  justify-content: flex-end;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
