@import 'mixins';

.grid {
  display: grid;
  gap: 0 16px;
  grid-template-columns: repeat(4, 1fr);

  @include for-tablet-up() {
    grid-template-columns: repeat(8, 1fr);
    gap: 0 24px;
  }

  @include for-desktop-up() {
    grid-template-columns: repeat(12, 1fr);
    gap: 0 32px;
  }
}

.alignHorizontal {
  align-items: center;
}
