.navMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 24px 40px;
  background-color: var(--color-brand-primary);
  display: none;
  flex-direction: column;
  justify-content: space-between;

  .navMenuItems {
    list-style: none;
    margin-top: 168px;

    li {

      a {
        color: var(--color-neutral-white);
        font-size: 24px;
        line-height: 160%;
        display: block;
        font-family: var(--font-secondary);
        text-transform: lowercase;
        font-weight: 900;
        padding: 24px 0;
        display: flex;
        transition: var(--transition-default);

        &:hover {
          color: var(--color-brand-tertiary);
        }
      }

      &:first-child a {
        padding-top: 0;
      }
      &:last-child a {
        padding-bottom: 0;
      }
    }
  }
}
