.linkUnderscore {
  color: var(--color-brand-tertiary);
  line-height: 160%;
  font-weight: 500;
  display: inline-flex;
  position: relative;
  transition: var(--transition-default);
  cursor: pointer;

  span {
    position: relative;
    z-index: 2;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    transform: translateX(-50%);
    will-change: transform;
    transition: var(--transition-default);
    pointer-events: none;
  }

  &::before {
    background-color: var(--color-brand-tertiary);
    width: 100%;
  }

  &::after {
    width: 104%;
    height: 100%;
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale3d(1, 0, 1) translateX(-50%);
    background-color: var(--color-brand-secondary);
  }

  &:hover {
    &::before {
      background-color: var(--color-brand-secondary);
      width: 104%;
    }

    &::after {
      transform: scale3d(1, 1, 1) translateX(-50%);
      opacity: 0.08;
    }
  }

  &Small {
    font-size: 16px;
  }

  &Medium {
    font-size: 20px;
  }

  &ColorDefault, &ColorBlue {
    color: var(--color-brand-primary);

    &::before {
      background-color: var(--color-brand-primary);
    }

    &:hover {
      color: var(--color-brand-secondary);
    }
  }

  &ColorRed {
    color: var(--color-brand-secondary);

    &::before, &::after {
      background-color: var(--color-brand-secondary);
    }

    &:hover {
      color: var(--color-brand-tertiary);

      &::before, &::after {
        background-color: var(--color-brand-tertiary);
      }
    }
  }

  &ColorYellow {
    color: var(--color-brand-tertiary);

    &::before, &::after {
      background-color: var(--color-brand-tertiary);
    }

    &:hover {
      color: var(--color-brand-primary);

      &::before, &::after {
        background-color: var(--color-brand-primary);
      }
    }
  }

}
