$sizes: (
  "sm": 16px,
  "md": 18px,
  "lg": 20px,
  "xl": 28px,
);

.onLight {
  color: var(--color-brand-dark);
}

.onDark {
  color: var(--color-neutral-white);
}

@each $size, $value in $sizes {
  .#{$size} {
    font-size: $value;
  }
}

// .xl {
//   line-height: 160%;
// }
