$sizes: (
  "sm": 16px,
  "md": 18px,
  "lg": 20px,
  "xl": 28px,
);

$weights: (
  "regular": 400,
  "medium": 500,
  "semibold": 600
);

.onLight {
  color: var(--color-brand-dark);
}

.onDark {
  color: var(--color-neutral-white);
}

@each $size, $value in $sizes {
  .#{$size} {
    font-size: $value;
  }
}

@each $weight, $value in $weights {
  .#{$weight} {
    font-weight: $value;
  }
}
