.navLanguage {
  width: 88px;
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 4px;
  background-color: rgba(#2958FF, 0.08);
  cursor: pointer;
  border-radius: 500px;

  svg path {
    fill: var(--color-brand-primary);
  }

  &, svg path, .navLanguageLabel {
    transition: var(--transition-default);
  }

  .navLanguageLabel {
    color: var(--color-brand-primary);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
  }

  &:hover {
    background-color: var(--color-brand-primary);

    .navLanguageLabel {
      color: var(--color-neutral-white);
    }

    svg path {
      fill: var(--color-neutral-white);
    }

  }
}
