@import "../mixins";

.worksSection {
  padding: 64px 0;

  @include for-desktop-up() {
    padding: 116px 0;
  }
}

.heading, .swiper {
  grid-column: 1 / span 8;
}

.heading {
  margin-bottom: 24px;

  .title_highlight {
    color: var(--color-brand-tertiary);
  }

  @include for-tablet-up() {
    grid-column: 1 / span 8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  @include for-desktop-up() {
    grid-column: 1 / span 12;
  }
}

.items {
  @include for-desktop-up() {
    grid-column: 1 / span 12;
    display: flex;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: visible !important;

  @include for-desktop-up() {
    grid-column: 1 / span 12;
    display: flex;
  }
}

.swiperMask {
  pointer-events: none;
  display: none;

  @include for-tablet-up() {
    display: block;

    &::before, &::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      width: 100px;
      height: 100%;
      pointer-events: none;
    }

    &::before {
      left: 0;
      background-image: linear-gradient(-270deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    }

    &::after {
      right: 0;
      background-image: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }
  }

  @include for-desktop-up() {
    width: 200px;
  }
}

.swipperSlide {
  border: 1px solid rgba(#fff, 0.16);
  border-right: none;

  @media only screen and (min-width: 1600px) {
    width: 380px !important;
  }
}

.swiper_navigation {
  display: flex;
  gap: 0 8px;
  margin-top: 56px;

  @include for-tablet-up() {
    margin-top: 0;
  }
}

.swiper_navigation_control {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-brand-tertiary);
  cursor: pointer;
  transition: var(--transition-default);

  svg path {
    transition: var(--transition-default);
  }

  &:not(.swiper_navigation_disabled ):hover {
    background-color: var(--color-brand-secondary);

    svg path {
      fill: var(--color-neutral-white)
    }
  }

  @include for-desktop-up() {
    width: 48px;
    height: 48px;
  }
}

.swiper_navigation_disabled {
  cursor: not-allowed;
  background-color: rgba(#fff, 0.08);

  svg path {
    fill: rgba(#fff, 0.24);
  }
}
